.dashboard-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the content */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /* Align items to the start (left) */
    padding: 10px; /* Reduce padding */
    text-align: left; /* Align text to the left */
    max-width: 800px; /* Increase max-width */
}

.welcome-title {
    font-size: 50px;
    color: rgb(65, 65, 65); /* Change text color to black for better contrast */
    text-align: left; /* Align text to the left */
}

.welcome-subtitle {
    font-size: 20px;
    color: rgb(156, 156, 156); /* Change text color to black for better contrast */
    text-align: left; /* Align text to the left */
    margin-bottom: 20px;
}

.welcome-paragraph {
    font-size: 14px;
    color: rgb(195, 195, 195); /* Light grey text color */
    text-align: left; /* Align text to the left */
    margin-bottom: 20px;
}

.dashboard-container .dashboard-content .get-started-button {
    width: 100%;
    max-width: 200px;
    border-radius: 5px; /* Rounded corners */
    background: rgba(24, 24, 24, 0.253); /* Semi-transparent background */
    box-shadow: 0 4px 30px rgba(126, 126, 126, 0.5); /* Subtle shadow */
    backdrop-filter: blur(10px); /* Blur effect */
    -webkit-backdrop-filter: blur(10px); /* Safari support */
    border: 0px solid rgba(255, 255, 255, 0.3); /* Border to enhance glass effect */
    position: relative; /* Ensure it is above the background */
    z-index: 1; /* Ensure it is above the background */
    margin-top: 15px;
}

.dashboard-container .dashboard-content .get-started-button:hover {
    background: rgba(56, 56, 56, 0.537); /* Slightly less transparent on hover */
}

.dashboard-container .dashboard-content .get-started-button:active {
    background: rgb(65, 65, 65);
}
    