.main-dashboard {
  display: flex;
}

.content {
  flex-grow: 1;
  padding: 20px;
}

.main-list {
  flex-grow: 1;
}

.bottom-list {
  margin-top: auto;
}

.page-text-color {
  color: rgb(156, 156, 156); 
}

.separator-line {
  width: calc(100% - 40px); /* Adjust the width to be slightly less than 100% */
  height: 1px;
  background-color: rgb(156, 156, 156); /* Color of the line */
  margin: 10px 20px; /* Add margin to push the line away from the edges */
}

.preview-image {
  width: 200px; /* Increase the width */
  height: auto; /* Maintain aspect ratio */
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-left: 10px; /* Add some space between the button and the image */
}

.uploaded-image {
  max-width: 100px;
  height: auto;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}