.MuiAppBar-root .title-text {
  color: #414141; 
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  margin-left: 15px;
}

[data-theme='dark'] {
  --primary-color: green;
  --background-color: black;
  --text-color: white;
}

.preview-image {
  width: 200px; /* Increase the width */
  height: auto; /* Maintain aspect ratio */
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-left: 10px; /* Add some space between the button and the image */
}

.uploaded-image {
  width: 150px; /* Set the desired width */
  height: 150px; /* Set the desired height to make it square */
  object-fit: cover; /* Ensures the image covers the area while maintaining aspect ratio */
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.menu-toggle-button {
  background-color: rgba(233, 234, 236, 0.5);
  border: none;
  border-radius: 4px;
  color: #414141;
  cursor: pointer;
  display: flex;
  transition: background-color 0.3s ease;
  margin-left: 0px;
  height: 30px;
  width: 30px;
  justify-content: center;
  align-items: center;
}

.menu-toggle-button:hover {
  background-color: rgba(233, 234, 236, 0.8);
}

.menu-toggle-button:active {
  background-color: rgba(233, 234, 236, 1);
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}