.questionnaire-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.questionnaire-title {
    position: fixed;
    top: 10px;
    left: 20px;
    font-size: 24px;
}

.questionnaire-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.question-list {
    width: 20%;
    font-size: 11px;
    padding-right: 20px;
    position: fixed;
    top: center;
    left: 20px;
}

.question-item {
    margin-bottom: 10px;
    
}

.questionnaire-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the left */
    justify-content: center;
    width: 100%;
    max-width: 600px; /* Set a max-width for the form */
    padding-bottom: 60px; /* Add padding to prevent overlap with navigation buttons */
    position: absolute; /* Position the form absolutely within the container */
    top: 50%; /* Center the form vertically */
    left: 60%; /* Center the form horizontally */
    bottom: auto;
    right: auto;
    transform: translate(-50%, -50%); /* Adjust the position to be centered */
}

.questionnaire-form label {
    margin-top: 10px;
    margin-bottom: 30px;
    font-weight: medium;
}

.questionnaire-form input {
    margin-bottom: 10px;
    padding: 8px;
    width: 50%;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.05);
    color: rgba(46, 46, 46, 0.7);
    border: none;
    border-radius: 5px;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.questionnaire-form input::placeholder {
    color: rgba(129, 129, 129, 0.7);
    opacity: 1;
}

.questionnaire-form input:focus {
    color: rgb(55, 55, 55);
}

.selection-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 40px;
    color:  rgb(255, 255, 255);
    border-radius: 7px;
    background: rgba(24, 24, 24, 0.253);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: none;
    position: relative;
    z-index: 1;
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    font-weight: medium;
    cursor: pointer;
}

.selection-button:hover {
    background: rgba(56, 56, 56, 0.537);
}

.selection-button:active {
    background: rgb(65, 65, 65);
}

.selection-button.selected:hover {
    background: rgb(65, 65, 65);
}

.selection-button.selected {
    background: rgb(65, 65, 65);
}
.navigation-buttons {
    display: flex;
    width: 140px;
    height: 40px;
    position: fixed; /* Fix the position of the navigation buttons */
    bottom: 20px; /* Position the buttons at the bottom */
    left: 50%; /* Center the buttons horizontally */
    margin-top: 20px;
}

.nav-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    color: white;
    background: rgba(24, 24, 24, 0.253);
    border: 0px solid rgba(255, 255, 255, 0.3);
    position: relative;
    z-index: 1;
    padding: 10px;
    font-size: 16px;
    font-weight: medium;
    cursor: pointer;
    text-align: center;
}

.nav-button:hover {
    background: rgba(56, 56, 56, 0.537);
}

.nav-button:active {
    background: rgb(65, 65, 65);
}

.navigation-buttons .back-button {
    border-top-left-radius: 7px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 7px;
}

.navigation-buttons .next-button {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}