.questionnaire-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .questionnaire-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 40px 40px;
    background-color: #f8f9fa;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }
  
  .header-left .site-title {
    font-size: 24px;
    color: #333;
  }
  
  .header-middle {
    display: flex;
    align-items: center;
  }
  
  .step {
    display: flex;
    align-items: center;
    margin: 0 10px;
  }
  
  .arrow {
    margin: 0 5px;
  }
  
  .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
    font-size: 11px;
    font-weight: bold;
    color: #3333336e;
    background-color: rgba(56, 56, 56, 0.287);
  }
  
  .filled {
    background-color: #333;
    color: #fff;
  }
  
  .header-right {
    display: flex;
    align-items: center;
  }
  
  .header-button {
    margin-left: 10px;
  }